/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
*.swp
.shadow-cljs
/.lein-*
/.nrepl-port
/doc/dist
\#*\#
*~
.\#*
/*init.clj
/out
/node_modules
/nashorn_code_cache
/.idea
/cuerdas.iml
.lumo_cache
.cpcache
.rebel_readline_history
