{:paths ["src" "assets"]
 :aliases
 {:dev
  {:extra-paths ["test" "dev"]
   :extra-deps
   {com.bhauman/figwheel-main {:mvn/version "RELEASE"}
    com.bhauman/rebel-readline-cljs {:mvn/version "RELEASE"}
    com.bhauman/rebel-readline {:mvn/version "RELEASE"}
    eftest {:mvn/version "0.5.7"}
    org.clojure/clojurescript {:mvn/version "1.10.597"}
    org.clojure/clojure {:mvn/version "1.10.0"}
    criterium/criterium {:mvn/version "0.4.5"}
    org.clojure/tools.namespace {:mvn/version "RELEASE"}}}

  :ancient
  {:main-opts ["-m" "deps-ancient.deps-ancient"]
   :extra-deps {deps-ancient {:mvn/version "RELEASE"}}}

  :jar
  {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
   :main-opts ["-m" "hf.depstar.jar" "target/cuerdas.jar"]}
 }}

